.button {
  /* https://sarunw.com/posts/dark-color-cheat-sheet/ */
  background-color: #2c2c2eff;
  border: solid;
  color: #ffffffff;
  font-size: 16px;
  width: 60px;
  height: 60px;
  margin: 10px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.button:active {
  background-color: black;
}

.button:hover {
  transition: 0.1s;
}

.button[id=""] {
  background-color: RGB(10, 10, 10);
}

::selection {
  color: white;
  background-color: #2c2c2eff;
}

#screen {
  color: #ffffffff;
  font-size: 30px;
  min-height: 40px;
  margin: 20px 50px;
}

#buttons {
  border-top: 2px solid #2c2c2eff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#calculator {
  background-color: #000000ff;
  margin: auto;
  border: 1px;
  width: 450px;
  border-radius: 10%;
  padding-bottom: 20px;
  padding-top: 5px;
}
